div[typ="vip"]{
    color:red;
}
div[detaliczny="tak"]{
    color:green;
}
div[detaliczny^="moze"]{
    color:yellow;
}
div[detaliczny$="fak"]{
    color:orange;
}
.pass{
    height:30px;
}
.pass[typ="tajne"]{
    height: 40px;
}